* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 45rem;
}

.instagram-phone img:nth-child(2) {
    height: 38rem;
    position: absolute;
    top: 20px;
    left: 15vw;
    z-index: -1;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 90%;
    padding: 1.3rem 2.5rem;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
    margin-bottom: .8rem;
}

.instagram-logo {
    padding: 2rem;
    width: 90%;
    height: auto;
}

.input-login {
    background-color: #F0F3F4;
    padding: .6rem;
    margin-bottom: .8rem;
    width: 100%;
    font-size: .9em;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ced6de;
}

.or-div {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.or-div, .or-div hr {
    color: #839192;
    font-weight: bold;
}

.or {
    margin: 0 1rem;
}

.line {
    min-height: 1px;
    width: 100%;
}

.img-facebook {
    position: relative;
    top: 5px;
    width: 20px;
}

.link-color {
    color: #146bdd;
    margin-bottom: 1.5rem;
}

.link-forget-pass {
    font-size: .9em;
    color: #34495E;
}

.instagram-login {
    width: 100%;
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(122, 122, 122);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0 0 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}